@using AdminCRUDTask.Models

@model Slider

<div>
    <h1 class="text-primary">Update Slider</h1>
    <form asp-controller="Slider" asp-action="Update" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Profession</label>
            <input asp-for="@Model.Title" type="text" class="form-control" id="title" placeholder="Add Title...">
            <span class="text-danger" asp-validation-for="@Model.Title"></span>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Category</label>
            <input asp-for="@Model.Description" type="text" class="form-control" id="desc" placeholder="Add Description...">
            <span class="text-danger" asp-validation-for="@Model.Description"></span>
        </div>
    
        <div class="mb-3">
            <label for="imgUrl" class="form-label">Image URL</label>
            <input asp-for="@Model.ImageUrl" type="text" class="form-control" id="imgUrl">
            <span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>