@using Simulation123.Models
@model Product
<div>
    <h1 class="text-primary">Update Product</h1>
    <form asp-controller="Product" asp-action="Update" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control" id="name" placeholder="Add name...">
                <span class="text-danger" asp-validation-for="@Model.Name"></span>
            </div>
            <div class="mb-3">
                <label for="Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" type="number" class="form-control" id="Price" placeholder="Add price...">
                    <span class="text-danger" asp-validation-for="@Model.Price"></span>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input asp-for="@Model.Description" type="text" class="form-control" id="description" placeholder="Add description...">
                        <span class="text-danger" asp-validation-for="@Model.Description"></span>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <input asp-for="@Model.Category.Name" type="text" class="form-control" id="desc" placeholder="Add category...">
                            <span class="text-danger" asp-validation-for="@Model.Category.Name"></span>
                        </div>
                        <div class="mb-3">
                            <label for="imgUrl" class="form-label">Image URL</label>
                            <input asp-for="@Model.ImageUrl" type="text" class="form-control" id="imgUrl">
                                <span class="text-danger" asp-validation-for="@Model.ImageUrl"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>