@model List<Position>

<div>
    <a asp-controller="Position" asp-action="Create" class="btn btn-primary">Add Position</a>
    <hr />
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Deleted Status</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Position position in Model)
            {
                <tr>
                    <th scope="row">@position.Id</th>
                    <td>@position.Name</td>
                    <td>
                        <td>
                            @if (!position.IsDeleted)
                            {
                                <span class="text-success">Active</span>
                            }
                            else
                            {
                                <span class="text-danger">Inactive</span>
                            }
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Position" asp-action="Update"
                               asp-route-id="@position.Id">Update</a>
                        </td>
                        @if (!position.IsDeleted)
                        {
                            <td>
                                <form asp-controller="Position" asp-action="Delete" asp-route-id="@position.Id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-controller="Position" asp-action="Restore" asp-route-id="@position.Id">
                                    <button type="submit" class="btn btn-success">Restore</button>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>