@using DigiMediaTask.Models

@model Project

<div>
    <h1 class="text-primary">Update Project</h1>
    <form asp-controller="Project" asp-action="Update" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Profession</label>
            <input asp-for="@Model.Profession" type="text" class="form-control" id="title" placeholder="Add Profession...">
            <span class="text-danger" asp-validation-for="@Model.Profession"></span>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Category</label>
            <input asp-for="@Model.Category" type="text" class="form-control" id="desc" placeholder="Add Category...">
            <span class="text-danger" asp-validation-for="@Model.Category"></span>
        </div>
    
        <div class="mb-3">
            <label for="imgUrl" class="form-label">Image URL</label>
            <input asp-for="@Model.ImageUrl" type="text" class="form-control" id="imgUrl">
            <span class="text-danger" asp-validation-for="@Model.ImageUrl"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>