@using HomeSimulation3.Areas.Admin.ViewModels.Employee

@model CreateEmployeeVM

<div>
    <h1 class="text-primary">Add Employee</h1>
    <form asp-controller="Employee" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control" id="Name" placeholder="Add Name...">
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-3">
            <label for="FullAdress" class="form-label">Full Adress</label>
            <input asp-for="@Model.FullAdress" type="text" class="form-control" id="FullAdress"
                   placeholder="Add Full Adress...">
            <span class="text-danger" asp-validation-for="@Model.FullAdress"></span>
        </div>
        <div class="mb-3">
            <select asp-for="PositionId" class="form-select" aria-label="Select Postion">
                <option disabled selected>Select Position</option>
                @foreach (Position position in ViewBag.Positions)
                {
                    if(position.IsDeleted==false){
                    <option value="@position.Id">@position.Name</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="@Model.PositionId"></span>
        </div>
        <div class="mb-3">
            <label for="ImageUrl" class="form-label">Image</label>
            <input asp-for="@Model.ImageFile" type="file" id="ImageUrl" />
            <span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>